html {
  width: 100%;
  height: 100%;
}

body {
  /*background: #00BCD4;*/
  font-family: "Varela Round", sans-serif;
}

h2 {
  text-align: center;
}

.ttt-board {
  margin: 0 auto;
  padding: 0;
  /*background: blue;*/
  /*border: 1px solid #000;*/
  max-width: 400px;
  width: 100%;
}

.ttt-board:before,
.ttt-board:after {
  content: "";
  display: table;
}

.ttt-board:after {
  clear: both;
}

.ttt-board {
  *zoom: 1;
}

.card {
  float: left;
  height: 133.33px;
  min-height: 33.3333%;
  width: 33.3333%;
  background: #00BCD4;
  border: 1px solid #000;
  /*display: inline-block;*/
  margin: 0;
  font-size: 4em;
  line-height: 2;
  text-align: center;
  border-collapse: collapse;
  box-sizing: border-box;
  transition: all .1s ease-in;
}

.card:hover {
  cursor: pointer;
  background: #C6FF00;
  transform: scale(0.97);
}

.matched {
  animation: .5s linear infinite blink;
}

.score-info {
  text-align: center;
}

.score-info h3 {
  font-size: 25px;
  margin: 10px;
}

.score-info table {
  margin: 0 auto;
  font-size: 25px;
}

.score-info table tr:first-child th {
  border-bottom: 3px solid #000;
}

.score-info table tr th,
.score-info table tr td {
  padding: 6px 20px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

@keyframes blink {
  from {
    background: #C6FF00;
  }
  to {
    background: #00BCD4;
  }
}
