* {
  outline: none;
}

html, body {
  height: 100%;
}

body { 
  font-family: "Varela Round", sans-serif;
  /*background-color: #232323;*/
  margin: 0;
  display: flex;
  flex-flow: column;
}

.header {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 0;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}

h2 {
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2em;
}

.info-bar {
  flex: 1 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.score_display {
  background-color: #00897B;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  flex-basis: 10%;
  font-size: 1.3em;
  padding: 3px;
  cursor: pointer;
}

.selected-player {
  border-bottom: 1.5px solid #fff;
}

.score_display:hover {
  border-bottom: 1.5px solid #fff;
}

#x_score, #o_score {
  float: right;
}

.message-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.ttt-board-container {
  list-style: none;
  width: 50%;
  align-self: center;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.card {
  background: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  border-radius: 4px;
  margin: 3px;
  flex: 0 1 30%;
  height: auto;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.matched {
  animation: .3s linear infinite blink;
}

@keyframes blink {
  from {
    background: #C6FF00;
  }
  to {
    background: #00BCD4;
  }
}

@media (min-width: 1040px) {
  .ttt-board-container {
    width: 40%;
  }
}

